{% extends 'base.html' %}
{% load static %}
{% block body %}

{% if form.error %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  There was an error with your form...
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


{% endif %}

<div class="container-fluid" style="padding: 40px;">
    <h2>Register</h2>
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black text-center m-5">
    <form action="{% url 'register_user' %}" method=POST>
      {% csrf_token %}

			{{ form.as_p }}

          <input type="submit" value="Submit" class="btn btn-primary">

		</form>
  </div>
</div>

{% endblock %}