/* color palette: #ef8354, #6d6875, #eef0f2, #ddd92a, #a7c283 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
  background-color: #eef0f2;
  color: #5C6452;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #6D6875;
}

.navbar-brand {
  color: #ef8354;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
  padding-top: 20px;
  margin-bottom: -20px;
}

/* Menu */

.menu-container-1 {
  text-align: right;
  min-height: 500px;
}

.menu-container-1 img {
  margin: 20px;
  float: left;
  width: 400px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
}

.menu-container-2 {
  text-align: left;
  min-height: 500px;
}

.menu-container-2 img {
  margin: 20px;
  float: right;
  width: 400px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
}

@media only screen and (max-width: 1200px) {
  .menu-container-1 {
    text-align: center;
    min-height: 0px;
  }
  
  .menu-container-1 img {
    float: none;
  }

  .menu-container-2 {
    text-align: center;
    min-height: 0px;
  }
  
  .menu-container-2 img {
    float: none;
  }
}

@media only screen and (max-width: 800px) {
  .menu-container-1 {
    text-align: left;
    min-height: 0px;
  }
  
  .menu-container-1 img {
    display: none;
  }

  .menu-container-2 {
    min-height: 0px;
    text-align: left;
  }
  
  .menu-container-2 img {
    display: none;
  }
}

/* Form */

.form-section {
  background-position: center;
  height: 900px;
}

.signup-form {
  color:#6d6875;
  position: cover;
  padding: 30px;
}

.signup-form > h2 {
  color: #6d6875;
  margin-bottom: 20px;
}

.text-input {
  background:transparent;
  color: #6d6875;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px;
  border: 1px solid #6d6875;
  border-radius: 2px;
}
.text-input:hover{
  border-color: #EF8354;
}

.btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary:visited {
  color:#fff;
  background-color: #6d6875;
  border-color: #6d6875;
}

.btn-outline-secondary:hover {
  color:#ef8354;
  background-color: #EEF0F2;
  border-color: #ef8354;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  color:#fff;
  background-color: #6d6875;
  border-color: #6d6875;
}

.btn-primary:hover {
  background-color: #EF8354;
  color: #fafafa;
  border-color: #6d6875;
}

.submit-button{
  margin-top: 20px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #6d6875;
  color: #fff;
  display:block;
  border: none;
}

.submit-button:hover{
  background-color: #EF8354;
  color: #fafafa;
  border-color: #6d6875;
}

#thankyou {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-left:50px;
  padding-top: 50px;
}

.bg-dark {
  background-color: #6D6875 !important;
}

a {
  color: #cccccc;
  text-decoration: none;
}

.bg-dark a:hover {
  color: white !important;
  text-decoration: none;
  transition: 0.3s;
}