{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container container-fluid" style="padding: 40px;">
    <h2>About</h2>
    <div class="container shadow bg-body rounded text-black text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <table class="table" style="text-align: center;">
                        <tbody>
                            <h4 style="padding-top: 40px;">Opening hours:</h4>
                            <h5>Tuesday-Sunday</h5>
                        <tr>
                            <td>9:00</td>
                        </tr>
                        <tr>
                            <td>10:00</td>
                        </tr>
                        <tr>
                            <td>11:00</td>
                        </tr>
                        <tr>
                            <td>12:00</td>
                        </tr>
                        <tr>
                            <td>13:00</td>
                        </tr>
                        <tr>
                            <td>14:00</td>
                        </tr>
                        <tr>
                            <td>15:00</td>
                        </tr>
                        <tr>
                            <td>16:00</td>
                        </tr>
                        <tr>
                            <td>17:00</td>
                        </tr>
                        <tr>
                            <td>18:00</td>
                        </tr>
                        <tr>
                            <td>19:00</td>
                        </tr>
                        <tr>
                            <td>20:00</td>
                        </tr>
                        <tr>
                            <td>21:00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4520.243880445464!2d-0.13734769672810776!3d51.51271516136432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1674233156541!5m2!1sen!2suk" width="100%" height="650" style="border:0; padding-top:40px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}