{% extends 'layout.html' %}
{% load static %}
{% block body %}

<div class="container-fluid" style="padding: 40px;">
    <h2>About</h2>
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black text-center m-5">
        <p>Since our modest beginnings in October 2022 with a little space in London, PizzaMaze has been enlivened with the energy to cook and serve solid, Italian-roused food.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4520.243880445464!2d-0.13734769672810776!3d51.51271516136432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1674233156541!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{% endblock %}