{% extends 'layout.html' %}
{% load static %}
{% block body %}


    <h1 style="margin-left: 40px; padding-top: 20px;"><strong>Pizza</strong>maze</h1>
    <h2 style="margin-left: 40px; margin-top: -20px;">italian restaurant</h2>

    <ul style="padding-left: 30px;">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'menu' %}">Menu</a></li>
        <li><a href="{% url 'bookingpage' %}">Booking</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>

    <h2 style="margin-left: 40px; padding-top: 20px;">About</h2>
    <p style="margin-left: 40px; padding-top: 20px;">About section here</p>
    
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-red">Made by <a href="https://github.com/Aria-vero-s">Aria-vero-s</a></p>
        <p class="m-0 text-center text-red">Follow us: <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i></p>
    </footer>


{% endblock %}