{% extends 'base.html' %}
{% load static %}
{% block body %}
	

<div class="container container-fluid" style="padding: 40px;">
  {% for booking in bookings %}
    <h2>Welcome, {{ booking.First_name }}</h2>
    {% endfor %}
    <div class="container shadow bg-body rounded text-black text-center">
    <td><a href="/edit/{{ booking.id }}" class="btn btn-primary">Click here</a> to edit your booking</td>
    <table class="table" style="text-align: left;">
        <tbody>
          {% for booking in bookings %}
          <tr>
            <td>First name: {{ booking.First_name }}</td>
          </tr>
          <tr>
            <td>Last name: {{ booking.Last_name }}</td>
          </tr>
          <tr>
            <td>Email: {{ booking.Email }}</td>
          </tr>
          <tr>
            <td>Phone: {{ booking.Phone }}</td>
          </tr>
          <tr>
            <td>Guests: {{ booking.guests }}</td>
          </tr>
          <tr>
            <td>Day: {{ booking.day }}</td>
          </tr>
          <tr>
            <td>Time: {{ booking.time }}</td>
          </tr>
        </tbody>
        {% empty %}
        <p>You have no booking. To make a booking, <a href="{% url 'booking' %}">click here</a></p>
        {% endfor %}
    </table>
    {% for booking in bookings %}
    <p><a href="/delete/{{ booking.id }}">Click here</a> to cancel your booking</p>
    {% endfor %}
    
    </div>
  </div>
</div>
</div>

	
{% endblock %}