{% extends 'base.html' %}
{% load static %}
{% block body %}
	

<div class="container container-fluid" style="padding: 40px;">
  {% for booking in bookings %}
    <h2>Welcome, {{ booking.First_name }}</h2>
    {% endfor %}
    <div class="container shadow bg-body rounded text-black text-center">
      {% for booking in bookings %}
    <table class="table" style="text-align: left;">
        <tbody>
          <tr>
            <td>First name: {{ booking.First_name }}</td>
          </tr>
          <tr>
            <td>Last name: {{ booking.Last_name }}</td>
          </tr>
          <tr>
            <td>Email: {{ booking.Email }}</td>
          </tr>
          <tr>
            <td>Phone: {{ booking.Phone }}</td>
          </tr>
          <tr>
            <td>Guests: {{ booking.guests }}</td>
          </tr>
          <tr>
            <td>Day: {{ booking.day }}</td>
          </tr>
          <tr>
            <td>Time: {{ booking.time }}</td>
          </tr>
        </tbody>
    </table>
    <td><a href="/edit/{{ booking.id }}" class="btn btn-primary">Edit your booking</a></td>
    <td><a href="/delete/{{ booking.id }}"class="btn btn-primary">Cancel your booking</a></td>
    <hr class="solid">
    {% endfor %}
    {% for booking in bookings %}
    {% empty %}
    <p>You have no booking yet.</p>
    <p><a href="{% url 'booking' %}" class="btn btn-primary">Click here to create a booking</a></p>
    {% endfor %}
    </div>
  </div>
</div>
</div>

	
{% endblock %}