{% extends 'base.html' %}
{% load static %}
{% block body %}



<div class="container container-fluid" style="padding: 40px;">
    <h2>Update a booking:</h2>
    <div class="container shadow bg-body rounded text-black text-center">

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit" class="btn btn-primary">Update booking</button>
            </p>
        </div>
        {% for booking in bookings %}
        <p><a href="/delete/{{ booking.id }}">Click here</a> to cancel your booking</p>
        {% endfor %}
        
    </form>
    </div>
</div>
{% endblock %}