{% extends 'layout.html' %}
{% load static %}
{% block body %}

<section class="form-section">
        
    <form method="GET" action="feedback.html" class="signup-form">
        
        <label for="fname">First Name</label>
        <input id="fname" class="text-input" name="first_name" type="text" required>
        
        <label for="lname">Last Name</label>
        <input id="lname" class="text-input" name="last_name" type="text" required>
        
        <label for="email">Email Address</label>
        <input type="email" class="text-input" id="email" name="email_address" required>
        
        <label for="comment">Leave a comment</label>
        <textarea id="comment" class="text-input" name="comment" type="text" style="height:100px; text-align: start;"></textarea>
        
        <input class="submit-button" type="submit" value="submit">
    </form>
</section>

{% endblock %}

</body>
</html>