<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../assets/style.css">
</head>
<body>

<h1>Pasta House</h1>

<ul>
    <li><a href="../index.html">Home</a></li>
    <li><a href="../pages/about.html">About</a></li>
    <li><a href="../pages/menu.html">Menu</a></li>
    <li><a href="../pages/booking.html">Booking</a></li>
    <li><a href="../pages/contact.html">Contact</a></li>
</ul>

<section id="thankyou">
    <h1>Thank you for contacting us!</h1>
    <h2>You will hear from us shortly.</h2>
</section>

</body>
</html>