{% extends 'base.html' %}
{% load static %}
{% block body %}

<div>
    <img src="{% static "spag1.avif" %}" style="width: 100%;">
</div>

<div class="introduction">
    <h1>Since our beginnings in October 2022 with a little space in London, the philosophy of PizzaMaze has been to cook and serve solid, Italian-roused food.</h1>
</div>

<div class="gallery">
    <img src={% static "lasagne.avif" %}>
    <br>
    <img src={% static "soup.avif" %}>
    <a href="{% url 'menu' %}">MENU</a>
    <br>
    <img src={% static "pasta.avif" %}>
</div>


<div class="introduction">
    {% if user.is_authenticated %}
    <a href="{% url 'booking' %}" class="btn btn-outline-secondary" style="padding:40px; font-size: xx-large;">Book now!</a>
    {% else %}
    <a href="{% url 'notRegistered' %}" class="btn btn-outline-secondary" style="padding:40px; font-size: xx-large;">Book now!</a>
    {% endif %}
</div>
</div>

{% endblock %}