{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- color palette: #ef8354, #6d6875, #eef0f2, #ddd92a, #a7c283 -->

<div>
    <img src="{% static "spag1.avif" %}" style="width: 100%;">
</div>

<div class="introduction">
    <h1>Since our modest beginnings in October 2022 with a little space in London, PizzaMaze has been enlivened with the energy to cook and serve solid, Italian-roused food.</h1>
</div>

<div class="gallery">
    <img src={% static "lasagne.avif" %}>
    <br>
    <img src={% static "soup.avif" %}>
    <br>
    <img src={% static "pasta.avif" %}>
</div>


<div class="introduction">
    <button class="btn btn-outline-secondary" style="padding: 40px; font-size: xx-large;">Book now!</button>
</div>
</div>

{% endblock %}