{% extends 'base.html' %}
{% load static %}
{% block body %}

<div>
    <img src="{% static "spag1.avif" %}" style="width: 100%;">
<!-- color palette: #ef8354, #6d6875, #eef0f2, #ddd92a, #a7c283 -->
<div class="container-fluid" style="padding:100px; text-align: center; color: #ef8354; background-color:#fff">
    <h1 style="padding: 40px;">Since our modest beginnings in October 2022 with a little space in London, PizzaMaze has been enlivened with the energy to cook and serve solid, Italian-roused food.</h1>
</div>

{% endblock %}