{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div class="container-fluid" style="padding: 40px;">
        <h2>Menu</h2>
        <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black text-center m-5">
<br>
<h2 style="text-decoration: underline;">Starters</h2>
<br>

            <h3>£4 Basil and tomato soup</h3>
            <p>Dried basil and cherry tomatoes combined into creamy soup</p>
            <p>garlic | basil | tomato | cream</p>

            <h3>£5 Tomato salad with basil dressing</h3>
            <p>A mouth-watering tomato salad served with basil dressing</p>
            <p>cucumber | lettuce | cress | tomato | basil</p>
<br>
<h2 style="text-decoration: underline;">Mains: lasagne</h2>
<br>
            <h3>£9 Squash and aubergine lasagne</h3>
            <p>Layers of fresh egg pasta interspersed with acorn squash and salted aubergine</p>
            <p>tomato | passata | onion | garlic | pasta | oregano | black pepper | basil | squash | aubergine</p>

            <h3>£9 Mushroom and pepper lasagne </h3>
            <p>Layers of fresh egg pasta interspersed with chanterelle mushroom and sweet pepper</p>
            <p>tomato | passata | onion | garlic | pasta | oregano | black pepper | basil | mushroom | pepper</p>

            <h3>£9 Black pepper and pesto lasagne</h3>
            <p>Layers of fresh egg pasta interspersed with hot black pepper and green pesto</p>
            <p>tomato | passata | onion | garlic | pasta | oregano | black pepper | basil | pesto</p>

            <h3>£11 Spinach and beef lasagne</h3>
            <p>Layers of fresh egg pasta interspersed with fresh spinach and beef</p>
            <p>tomato | passata | onion | garlic | pasta | oregano | black pepper | basil | spinach | beef</p>
<br>
<h2 style="text-decoration: underline;">Mains: pasta</h2>
<br>
            <h3>£9 Chilli and aubergine pasta</h3>
            <p>Fresh egg pasta in a sauce made from dried chilli and fresh aubergine</p>
            <p>tomato | onion | garlic | pasta | oregano | black pepper | chilli | aubergine</p>

            <h3>£9 Chilli and aubergine pasta</h3>
            <p>Fresh egg pasta in a sauce made from dried chilli and fresh aubergine</p>
            <p>tomato | onion | garlic | pasta | oregano | black pepper | chilli | aubergine</p>

            <h3>£11 Pancetta and stilton spaghetti</h3>
            <p>Spagetti topped with a blend of smoked pancetta and stilton</p>
            <p>tomato | passata | onion | garlic | spagetti | oregano | black pepper | pancetta | stilton</p>

            <h3>£12 Sausage and salmon pasta</h3>
            <p>Fresh egg pasta in a sauce made from chunky sausage and smoked salmon</p>
            <p>tomato | onion | garlic | pasta | oregano | black pepper | sausage | salmon</p>

<br>
<h2 style="text-decoration: underline;">Desserts</h2>
<br>
            <h3>£6 Chocolate and vanilla mousse</h3>
            <p>A silky mousse made with milk chocolate and vanilla</p>
            <p>egg | cream | sugar | chocolate | vanilla</p>

            <h3>£8 Chocolate and almond tiramisu</h3>
            <p>Moist tiramisu made with plain chocolate and chopped almond</p>
            <p>flour | butter | egg | sugar | chocolate | almond</p>

            <h3>£8 Lemon and melon cheesecake</h3>
            <p>A rich cheesecake layered with tangy lemon and fresh melon</p>
            <p>flour | butter | water | sugar | vanilla | double cream | cream cheese | lemon | melon</p>

<br>
<h2 style="text-decoration: underline;">Drinks</h2>
<br>
            <h3>£2 Sparkling water</h3>
            <h3>£2.50 Italian soda</h3>
            <h3>£2.50 Espresso</h3>
            <h3>Wine:</h3>
            <p>Italian wine red £5 - 125ml or £7 - 175ml</p>
            <p>Italian wine white £5 - 125ml or £7 - 175ml</p>

            </p>
        </div>
    </div>
{% endblock %}