{% extends 'base.html' %}
{% load static %}
{% block body %}

{% if form.error %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  There was an error with your form...
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="container container-fluid" style="padding: 40px;">
    <h2>Online booking</h2>
    <div class="container shadow bg-body rounded text-black text-center">
        <p>You need to create an account in order to make a reservation with us.</p>
        <p><a href="{% url 'register_user' %}" class="btn btn-primary">Click here to create an account</a></p>

  </div>
</div>

{% endblock %}